#dashboard-mode
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-display
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}