/* CSS Reset Block */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%;
	font: inherit; */
	/* vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Style Code */

.home-container
{
    /* background-color: lightgreen; */
    height: 100%;
    width: 100%;
}

.layout-container
{
    text-align: center; 
    padding-top: 2em;
    width: 90%;
    margin: 0 auto;
}

.main-container
{
    width: 95%;
    margin: 0 auto;
}

.menu
{
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}

.page-item-link
{
    text-decoration: none;
    color: black;
}

.page-item-search
{
    display: flex;
    align-items: center;
}

.search
{
    width: 30%;
}

.search input[type=text]
{
    width: 300px;
    height: 20px;
}

.search input[type=submit]
{
    width: 70px;
    height: 25px;
}

