#dashboard-container
{
    width: 100%;
}

.dashboard-option
{
    text-align: center;
}

.dashboard-option h1
{
    color: #fff;
    font-size: 50px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.mode-container
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.button-admin, .button-admin-logout
{
    background-color: #4CAF50;
    border: 1px solid black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
    padding: 10px;
    font-size: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.button-admin:hover, .button-admin:active, .button-admin:focus, .button-admin.click
{
    border: 1px solid black;
    background-color: #4CAF50;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

.button-admin-logout
{
    background-color: #006400;
}

.button-admin-logout:hover, .button-admin-logout:active, .button-admin-logout:focus, .button-admin-logout.click
{
    border: 1px solid black;
    background-color: #006400;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

.admin-title
{
    font-size: 40px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#adminSearch
{
    width: 40%;
}

#adminSearch form
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}

#adminSearch form input[type="text"]
{
    box-shadow: 0 0 4px rgba(0, 0, 0, 3);
}

#adminSearch form input[type="submit"]
{
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    font-size: 15px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    background-color: #4CAF50;
    border-radius: 20px;
}

@media only screen and (max-width: 1350px) {

    #adminSearch
    {
        width: 60%;
    }
}

@media only screen and (max-width: 500px) {

    .dashboard-option h1
    {
        font-size: 30px;
    }

    .button-admin ,.button-admin-logout
    {
        font-size: 15px;
    }

    .admin-title
    {
        font-size: 25px;
    }

    #adminSearch
    {
        width: 100%;
    }

    .edit-button
    {
        font-size: 10px;
        margin: 2px;
    }

    .delete-button
    {
        font-size: 10px;
        margin: 2px;
    }
}
