.create-container
{
    width: 75%; 
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
}

.container-file
{
    margin-left: 10px;
    margin-top: 10px;
}

.container-file-item
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.container-file-item > * {
    margin: 5px; 
}

textarea
{
    resize: none;
}

.multipleInput
{
    margin-top: 10px;
}

.multipleName :nth-child(2)
{
    margin-top: 0;
}

.button-container
{
    display: flex;
    flex-direction: row;
}

.create-label
{
    font-size: 25px;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.add-button, .delete-button
{
    font-size: 15px;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    border: 1px solid black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

.delete-button, .delete-button:hover, .delete-button:active 
, .delete-button:active, .delete-button:focus
{
    background-color: #006400 !important;
    border: 1px solid black;
}

.add-button, .add-button:hover, .add-button:active
, .add-button:active, .add-button:focus
{
    background-color: #4CAF50;
    border: 1px solid black;
}

.form-control
{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

@media only screen and (max-width: 1350px) {

    .create-container
    {
        width: 90%; 
    }
}