#introduction
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

#detail
{
    width: 70%;
    height: 100%;
    background-color: #4CAF50;
    border: 1px solid black;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

#detail p
{
    text-indent: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 20px;
}

/* #image-introduction
{
    display: block;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    transition: 0.3s, ease-in
} */

#searchContainer
{
    margin-top: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchContainer-block
{ 
    background-color: #FFFBCC;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    width: 40%;
    padding: 1em;
}

#searchContainer-block h2
{
    text-align: center;
    font-size: 25px;
}

#button-advance-search
{
    background-color: #4CAF50;
}

#button-advance-clear
{
    background-color: #CCCCCC;
}

.search-label
{
    font-size: 20px;
}

#pageContainer
{
    margin-top: 4em;
}

#page-url
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 80%;
    padding: 2em;
}

.page-item
{
    width: 300px;
    height: 270px;
    border: 1px solid black;
    background-color: #4CAF50;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.page-item-link
{
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.page-item-link:hover
{
    color: #2ecc71; 
}

.item-link-header
{
    padding: 10px;
}

.item-link-text
{
    padding: 15px;
}

.item-link-header h3
{
    text-align: center;
    font-size: 25px;
}

.item-link-text p 
{
   text-indent: 20px;
   line-height: 1.5;
   letter-spacing: 1px;
   font-size: 18px;
}

