.data-container
{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.row-decoration
{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background: #4CAF50;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.plant-image
{
    margin: 50px;
}

.col-title
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    text-align: center;
}

.data-item
{
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    line-height: 1.2;
}

.data-image 
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-image img
{
    margin: 10px;
    width: 250px;
    height: auto;
}

@media only screen and (max-width: 500px) {
    .data-container
    {
        width: 100%;
    }

    .col-title
    {
        font-size: 12px;
        text-align: center;
        padding: 0;
    }

    .data-item
    {
        font-size: 10px;
    }
}