{% extends "application/layout.html" %}
{% load static %}
    
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'application/css/admin.css'%}">
{% endblock %}

{% block body %}
    <div class="dashboard-option">
        <h1>ระบบจัดการฐานข้อมูล</h1>
        <div class="m-3 mode-container">
            <a href="{% url 'dashboard' %}" class="btn btn-primary btn-sm m-1 button-admin" id="dashboard">แก้ไข/ลบข้อมูล</a>
            <a href="{% url 'create' %}" class="btn btn-primary btn-sm m-1 button-admin" id="create">เพิ่มข้อมูล</a> 
            <a href="{% url 'logout' %}" class="btn btn-primary btn-sm m-1 button-admin-logout">ออกจากระบบ</a>
        </div>
    </div>

    {% block admin %}
    {% endblock %}
    
{% endblock %}