{% extends "application/layout.html" %}
{% load static %}
    
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'application/dashboard.css'%}">
{% endblock %}

{% block body %}
    <div class="dashboard-option text-center">
        <h1>Mode</h1>

        <div class="m-3 mode-container">
            <a href="{% url 'dashboard' %}" class="btn btn-primary btn-sm m-1" id="dashboard">Delete & Edit</a>
            <a href="{% url 'create' %}" class="btn btn-primary btn-sm m-1" id="create">Create</a>
            <a href="{% url 'logout' %}" class="btn btn-primary btn-sm m-1">Logout</a>
        </div>
    </div>

    {% block admin %}
    {% endblock %}
    
{% endblock %}