{% load static %}

{% block extra_css %}

{% endblock %}

{% block body %}
    <div class="container border p-3 mt-3">
        <form action=""">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Scientific Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Family Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  multiple>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Common Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  multiple>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Uses</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Characteristic</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Distribution</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Habitat</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Location</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Referenece</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">QR Images</label>
                <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" multiple>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Plant Images</label>
                <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" multiple>
            </div>
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
    </div>
   
    
    
{% endblock %}