{% extends "application/layout.html" %}

{% load static %}
    
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'application/dashboard.css'%}">
{% endblock %}

{% block body %}
    <h1>Mode</h1>
    <button class="btn btn-primary btn-sm" id="dashboard">Delete & Edit</button>
    <button class="btn btn-primary btn-sm" id="create">Create</button>
    <a href="{% url 'logout' %}" class="btn btn-primary btn-sm" tabindex="-1" role="button" aria-disabled="true">Logout</a>

    <div id="dashboard-view">
        <h1>Dashboard</h1>

        <div id="dashboard-mode">
            <button class="btn btn-primary btn-sm m-3" id="dashboard-plant-list">Plant List</button>
            <button class="btn btn-primary btn-sm m-3" id="dashboard-letter-index-list">Letter Index List</button>
            <button class="btn btn-primary btn-sm m-3" id="dashboard-family-index-list">Family Index List</button>    
        </div>

        <div id="plant-list-view">
            {% include "application/adminPlantList.html" %} 
        </div>

        <div id="letter-index-list-view">
            {% include "application/adminLetterIndexList.html" %} 
        </div>

        <div id="family-index-list-view">

        </div>
        
    </div>

    <div id="create-view">
        <h1>create</h1>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'application/dashboard.js' %}"></script>
    <script src="{% static 'application/adminLetterIndexList.js' %}"></script>
{% endblock %}