{% extends "application/admin.html" %}

{% block admin %}
    <div id="dashboard-container">
        <div id="advanceSearch">
            <h1 class="admin-title">{{ title }}</h1>
            <form action="{% url 'adminSearch' %}" method="POST">
                <input class="form-control" type="text" name="input">
                <input class="btn-primary btn-sm m-1" type="submit" value="Search">
                <input type="hidden" name="admin" value="admin">
            </form>
        </div>
       
        {% include "application/list.html" %} 
    </div>
   
{% endblock %}