{% extends "application/layout.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'application/css/familyIndexList.css'%}">    
    <link rel="stylesheet" href="{% static 'application/css/page.css'%}">    
{% endblock %}

{% block body %}
    <div id="page-title-container">
        <h3>ฐานข้อมูลพันธุ์ไม้</h3>
        <h3>FamilyIndexList</h3>
    </div>

    <div class="family-index-container">
        {% for first_letter, family_name_list in organized_data.items %}
            <div class="index-container">
                <div class="index-item">
                    <h2>{{ first_letter }}</h2>
                    <div class="index-item-names">
                        {% for family_name in family_name_list %}
                            <a href="{% url 'familyNameSort' familyName=family_name %}"class="index-item-name">{{ family_name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
           
        {% endfor %}
    </div>
{% endblock %}

