{% load static %}
    
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'application/form.css'%}">  
{% endblock %}

{% block body %}
<div class="container">
    <div class="form-container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    
        {% if title %}
            <h1 class="admin-title">{{ title }}</h1>
        {% endif %}
    
        <form action="{% if edit %}{% url 'editPlant' id=plant.id %}{% else %}{% url 'create' %}{% endif %}" class="p-3 mt-3" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="mb-3">
                <label class="form-label create-label">Name</label>
                <input type="text" class="form-control" name="name" value="{{ plant.name }}" required>
            </div>

            <div class="mb-3">
                <label class="form-label create-label">Scientific Name</label>
                <input type="text" class="form-control" name="scientific-name" value="{{ plant.scientificName }}" required>
            </div>
            
            <div class="mb-3 multipleName" id="familyName">
                <label class="form-label create-label">Family Name</label>

                {% if edit %}
                    {% if plant.familyNameList.exists%}
                        {% for name in plant.familyNameList.all %}
                            <input type="text" class="form-control multipleInput" name="family-name" value="{{ name }}">             
                        {% endfor %}
                    {% else %}
                        <input type="text" class="form-control multipleInput" name="family-name">  
                    {% endif %} 
                {% else %}
                    <input type="text" class="form-control multipleInput" name="family-name"> 
                {% endif %}
            
            </div>

            <div class="mb-3 button-container">
                <button class="btn btn-secondary add-name-button" onclick="addName(event, 'familyName', 'delete-family-name', 'family-name')">Add Name</button>
                <button class="btn btn-success ms-2 delete-name-button" onclick="deleteName(event, 'familyName' , 'delete-family-name')" 
                id="delete-family-name" 
                {% if edit and plant.familyNameList.count >= 2 %} 
                    style= "display: block;"
                {% else %}
                    style= "display: none;"
                {% endif %}>Delete Name</button>
            </div>

            <div class="mb-3 multipleName" id="commonName">
                <label class="form-label create-label">Common Name</label>

                {% if edit %}
                    {% if plant.commonNameList.exists%}
                        {% for name in plant.commonNameList.all %}
                            <input type="text" class="form-control multipleInput" name="common-name" value="{{ name }}">             
                        {% endfor %}
                    {% else %}
                        <input type="text" class="form-control multipleInput" name="common-name">  
                    {% endif %} 
                {% else %}
                    <input type="text" class="form-control multipleInput" name="common-name"> 
                {% endif %}
            
            </div>

            <div class="mb-3 button-container">
                <button class="btn btn-secondary add-name-button" onclick="addName(event, 'commonName', 'delete-common-name', 'common-name')">Add Name</button>
                <button class="btn btn-success ms-2 delete-name-button" onclick="deleteName(event, 'commonName' , 'delete-common-name')" 
                id="delete-common-name"   
                {% if edit and plant.commonNameList.count >= 2 %} 
                    style= "display: block;"
                {% else %}
                    style= "display: none;"
                {% endif %}>Delete Name</button>
            </div>

            <div class="mb-3">
                <label class="form-label create-label">Uses</label>
                <textarea class="form-control" rows="10" cols="50" name="use">{{ plant.uses }}</textarea>
            </div>

            <div class="mb-3">
                <label class="form-label create-label">Characteristic</label>
                <textarea type="text" class="form-control" rows="10" cols="50" name="characteristic">{{ plant.characteristic }}</textarea>
            </div>

            <div class="mb-3">
                <label class="form-label create-label">Distribution</label>
                <textarea type="text" class="form-control" rows="10" cols="50" name="distribution">{{ plant.distribution }}</textarea>
            </div>

            <div class="mb-3">
                <label class="form-label create-label">Habitat</label>
                <textarea type="text" class="form-control" rows="10" cols="50" name="habitat">{{ plant.habitat }}</textarea>
            </div>

            <div class="mb-3">
                <label class="form-label create-label">Care</label>
                <textarea type="text" class="form-control" rows="10" cols="50" name="care">{{ plant.care }}</textarea>
            </div>

            <div class="mb-3">
                <label class="form-label create-label">Location</label>
                <textarea type="text" class="form-control" rows="10" cols="50" name="location">{{ plant.location }}</textarea>
            </div>

            <div class="mb-3">
                <label class="form-label create-label">Referenece</label>
                <input type="text" class="form-control" name="reference" value="{{ plant.references }}">
            </div>

            <div class="mb-3">
                <label class="form-label create-label">QR Images</label>
                <input type="file" class="form-control" name="qr-input" id="qr-input" multiple onchange="displayFileNames('qr-container', 'qr-input')">
                <div class="container-file" id="qr-container">
                    {% if edit %}
                        {% for image in plant.qrImageList.all %}
                            <div class="container-file-item" id="qr-image-display-{{ image.id }}">
                                <p class="mt-1">{{ image }}</p>
                                <button class="btn btn-primary btn-sm ms-1" 
                                onclick="deleteImage('qr-image-info-{{ image.id }}', 'qr-image-display-{{ image.id }}')">delete</button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>  
            </div>

            <div class="mb-3">
                <label class="form-label create-label">Plant Images</label>
                <input type="file" class="form-control" name="image-input" id="image-input" multiple onchange="displayFileNames('image-container', 'image-input')">
                <div class="container-file" id="image-container">
                    {% if edit %}
                        {% for image in plant.plantImageList.all %}
                            <div class="container-file-item" id="plant-image-display-{{ image.id }}">
                                <p class="mt-1">{{ image }}</p>
                                <button class="btn btn-primary btn-sm ms-1" 
                                onclick="deleteImage('plant-image-info-{{ image.id }}' , 'plant-image-display-{{ image.id }}')">delete</button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            {% if edit %}

                <input type="hidden" name="id" value="{{ plant.id }}">

                {% for image in plant.qrImageList.all %}
                    <input type="hidden" name="qr-image-info" id="qr-image-info-{{ image.id }}" value="{{ image.id }}">
                {% endfor %}

                {% for image in plant.plantImageList.all %}
                    <input type="hidden" name="plant-image-info" id="plant-image-info-{{ image.id }}" value="{{ image.id }}">
                {% endfor %}
            {% endif %}

            <input type="submit" value="{{ title }}" class="btn btn-secondary">
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static  'application/js/form.js' %}"></script>
{% endblock %}