{% extends "application/layout.html" %}

{% load static %}
    
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'application/css/index.css'%}">
{% endblock %}

{% block body %}

<div class="main-container">

    <section id="introduction">
        <div id="detail">
            <p>
                ฐานข้อมูลพรรณไม้ในอุทยานการศึกษาเป็นส่วนหนึ่งของฐานข้อมูลองค์ความรู้ต่างๆ
                ที่สถานอุทยานการศึกษารัชมังคลาภิเษก จัดทำขึ้นเพื่อให้เป็นแหล่งเรียนรู้ตามอัธยาศัย 
                โดยรวบรวมข้อมูลเกี่ยวกับพรรณไม้ที่มีในบริเวณอุทยานการศึกษารัชมังคลาภิเษก 
                มหาวิทยาลัยสุโขทัยธรรมาธิราช ซึ่งอุทยานการศึกษารัชมังคลาภิเษก เป็นพื้นที่สีเขียวที่มีความสงบ 
                ร่มรื่น สวยงามตามธรรมชาติ และเป็นส่วนหนึ่งของเมืองอัจฉริยะ เพื่อพักผ่อนหย่อนใจและทำกิจกรรมนันทนาการของประชาชนโดยทั่วไป 
                บนพื้นที่ประมาณ 35 ไร่ พื้นที่ได้มีการพัฒนาให้เป็นสวนพฤกษชาติที่มีการปลูกพรรณไม้นานาชนิดและเป็นแหล่งเรียนรู้ตามอัธยาศัยภายในอุทยานการศึกษาจะประกอบด้วย 
                ศูนย์การเรียนรู้วิชาการเกษตรในเมือง ศูนย์การเรียนรู้กล้วยไม้  ศูนย์การเรียนรู้พืชสมุนไพร ศูนย์การเรียนรู้เกษตรสาธิตผลไม้เมืองนนท์ สวนบัว และสวนสุขภาพ 
                โดยมีอาคารสัญลักษณ์ศาลาพุ่มข้าวบิณฑ์เป็นศูนย์กลางของอุทยาน มีหอพระ มีอาคารจัดแสดงพิพิธภัณฑ์การศึกษาทางไกล ส่วนจัดแสดงนิทรรศการชั่วคราว 
                และการสาธิต การให้องค์ความรู้ด้านต่างๆ ด้วยเทคโนโลยีสมัยใหม่ ซึ่งองค์ความรู้และฐานข้อมูลที่จัดทำขึ้นนั้น สถานอุทยานการศึกษาจะนำมาเผยแพร่ผ่านทางเว็บไซต์
                และพัฒนาเป็นสื่อการเรียนรู้สามมิติแบบมีปฏิสัมพันธ์เสมือนจริง ซึ่งนักเรียน นักศึกษา ประชาชนและผู้สนใจทั่วไปสามารถเข้าไปศึกษาหาความรู้ได้ตามอัธยาศัยในอนาคต
            </p>
        </div>

        <img id="image-introduction">
    </section>

    <section id="searchContainer">
        <div id="searchContainer-block">
            <h2>ค้นหาแบบละเอียด</h2>
            <h2>Advance Search</h2>
            <form action="{% url 'advanceSearch' %}" method="POST">
                <div class="mb-3 mt-3">
                    <label class="form-label search-label">Name</label>
                    <input type="text" name="name" class="form-control" id="name">
                </div>

                <div class="mb-3">
                    <label class="form-label search-label">Scientific Name</label>
                    <input type="text" name="scientific-name" class="form-control" id="scientific-name">
                </div>

                <div class="mb-3">
                    <label class="form-label search-label">Family Name</label>
                    <input type="text" name="family-name" class="form-control" id="family-name">
                </div>

                <div class="mb-3">
                    <label class="form-label search-label">Common Name</label>
                    <input type="text" name="common-name" class="form-control" id="common-name">
                </div>

                <div class="mb-3">
                    <input type="submit" value="Search" class="btn btn-secondary" id="button-advance-search">
                    <input type="submit" value="Clear" class="btn btn-secondary" id="button-advance-clear">
                </div>
            
            </form>
        </div>
    </section>


    <section id="pageContainer">
        <ul id="page-url">
            <li class="page-item">
                <a href="{% url 'plantList' %}" class="page-item-link">
                    <div class="item-link-header">
                        <h3>พรรณไม้ทั้งหมด</h3>
                        <h3>Plant List</h3>
                    </div>

                    <div class="item-link-text">
                        <p>
                                แสดงรายการพรรณไม้ทั้งหมดจากฐานข้อมูลความหลากหลายพรรณไม้ ณ อุทยานการศึกษารัชมังคลาภิเษก มสธ.
                        </p>
                    </div>
                </a>
            </li>
            <li class="page-item">
                <a href="{% url 'letterIndexList' indexList='all' %}" class="page-item-link">
                    <div class="item-link-header">
                        <h3>ดัชนีตามอักษร</h3>
                        <h3>Letter Index List</h3>
                    </div>

                    <div class="item-link-text">
                        <p>
                                แสดงรายการพรรณไม้ตามดัชนีอักษร ก-ฮ และ a-z จากฐานข้อมูลความหลากหลายพรรณไม้ ณ อุทยานการศึกษารัชมังคลาภิเษก มสธ.
                        </p>
                    </div> 
                </a>
            </li>
            <li class="page-item">
                <a href="{% url 'familyIndexList' %}" class="page-item-link">
                    <div class="item-link-header">
                        <h3>แสดงตามวงศ์</h3>
                        <h3>Family Index List</h3>
                    </div>

                    <div class="item-link-text">
                        <p>
                                แสดงรายการพรรณไม้ตามชื่อวงศ์จากฐานข้อมูลความหลากหลายพรรณไม้ ณ อุทยานการศึกษารัชมังคลาภิเษก มสธ.
                        </p>
                    </div> 
                </a>
            </li>
        </ul>
    </section>
</div>
       
{% endblock %}

{% block script %}
    <script src="{% static  'application/js/index.js' %}"></script>
{% endblock %}