{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'application/bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'application/css/layout.css'%}">
    {% block extra_css %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</head>
<body>
    <div class="home-container">
        <header id="menu-container">
            <div id="menu-block">
                <h1>ฐานข้อมูลความหลากหลายพรรณไม้ ณ อุทยานการศึกษารัชมังคลาภิเษก มสธ.</h1>
                <div class="menu-url-container">
                    <ul class="menu-url">
                        <li class="menu-item">
                            <a href="{% url 'index' %}" class="menu-item-link">
                                <p>หน้าแรก</p><p>Home</p>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url 'plantList' %}" class="menu-item-link">
                                <p>พรรณไม้ทั้งหมด</p><p>Plant List</p>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url 'letterIndexList' indexList='all' %}" class="menu-item-link">
                                <p>ดัชนีตามอักษร</p><p>Letter Index List</p>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url 'familyIndexList' %}" class="menu-item-link">
                                <p>แสดงตามวงศ์</p><p>Family Index List</p>
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="menu-item">
                                <a href="{% url 'dashboard' %}" class="menu-item-link">
                                    <p>จัดการข้อมูล</p><p>Manage</p>
                                </a>
                            </li>
                        {% else %}
                            <li class="menu-item">
                                <a href="{% url 'login' %}" class="menu-item-link">
                                    <p>เข้าสู่ระบบ</p><p>Login</p>
                                </a>
                            </li>
                        {% endif %}
                        <li class="menu-item-search">
                             <form action="{% url 'search' %}" method="POST">
                                <input type="text" class="form-control" name="input">
                                <button type="submit" id="button-normal-search" value="Search">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </form>
                        </li>   
                    </ul>
                </div>

                
            </div>

        </header>

        <main>
            <div id="page-container">
                {% block body %}
                {% endblock %}
            </div>
        </main>
       
        <script src="{% static 'application/bootstrap/js/bootstrap.js'%}"></script>
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    </div>
</body>
</html>

