{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'application/bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'application/layout.css'%}">
    {% block extra_css %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</head>
<body>
    <div class="home-container">
        <header id="menu-container">
            <div id="menu-block">
                <h1>ฐานข้อมูลความหลากหลายพรรณไม้ ณ อุทยานการศึกษารัชมังคลาภิเษก มสธ.</h1>
                <div class="menu-url-container">
                    <ul class="menu-url">
                        <li class="menu-item">
                            <a href="{% url 'index' %}" class="menu-item-link"><h2>Home</h2></a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url 'plantList' %}" class="menu-item-link"><h2>Plant List</h2></a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url 'letterIndexList' indexList='all' %}" class="menu-item-link"><h2>Letter Index List</h2></a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url 'familyIndexList' %}" class="menu-item-link"><h2>Family Index List</h2></a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="menu-item">
                                <a href="{% url 'dashboard' %}" class="menu-item-link"><h2>Staff_In</h2></a>
                            </li>
                        {% else %}
                            <li class="menu-item">
                                <a href="{% url 'login' %}" class="menu-item-link"><h2>Staff_Out</h2></a>
                            </li>
                        {% endif %}
                        <li class="menu-item-search">
                             <form action="{% url 'search' %}" method="POST">
                                <input type="text" class="form-control" name="input">
                                <input type="submit" class="btn btn-success" value="Search">
                            </form>
                        </li>   
                    </ul>
                </div>

                
            </div>

        </header>

        <main>
            <div id="page-container">
                {% block body %}
                {% endblock %}
            </div>
        </main>
       
        <script src="{% static 'application/bootstrap/js/bootstrap.js'%}"></script>
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    </div>
</body>
</html>

