{% extends "application/layout.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'application/css/page.css'%}">  
    <link rel="stylesheet" href="{% static 'application/css/letterIndexList.css'%}">  
{% endblock %}

{% block body %}
    <div id="page-title-container">
        <h3>ฐานข้อมูลพันธุ์ไม้</h3>
        <h3>Letter Index List</h3>
    </div>
    
    <div class="container">
        <div id="button-container" class="m-3 text-center" data-django-variable="{{ indexList }}">
            <div id="eng-button-container"></div>
            <div id="thai-button-container"></div>
        </div>
    </div>
    
    {% include "application/list.html" %} 
{% endblock %}

{% block script %}
    <script src="{% static 'application/js/letterIndexList.js' %}"></script>
{% endblock %}